
<head>
	

	<style> 
	.melec {color: white; border: none}
	.melec:hover{color: #f19325 ;} 
	.login {color: white ;
		background-color: #f19325 ;
		border-color: #f19325;
		border-radius: 15% 15% 15% 15% ;
		box-shadow: none;}


	</style>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	
	

</head>
<body>
	<div class="jumbotron" style="height:40%;">
 		<div class="container text-center">
    		<h1>Connecter vous içi</h1>      
    	
    	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
	<button class="login" type="submit" style="font-family: 'Poppins', sans-serif;">  Login  </button>
	</form>
  		</div>
	</div>

	<div class="container-fluid" style="height:40%; background-color: #f19325;">
	</div>
	
	<footer class="container-fluid text-center" style="height:20%;
	background-color: #281e1d"> 
			<br>
			<p><a class="melec" href="https://www.linkedin.com/in/melec-du-halgouet-174a6a150/"
		style="position: relative; top: 25%; font-family: 'Poppins', sans-serif;"> CONTACTER MELEC SUR LINKEDIN</a>	</p>
			<p><a class="melec" href="https://ayomi.fr/"
		style="position: relative; top: 25%; font-family: 'Poppins', sans-serif; font-size: 20px;">Ayomi</a>	</p>
	</footer>
</body>



